[submodule "bundle/obviousmode"]
	path = bundle/obviousmode
	url = https://github.com/bsl/obviousmode.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
