snippet href
	<a href="${1:url}">${2:link text}</a>

snippet img
	<img src="${1:url}" title="${2:title}" alt="${3:alt}" />

snippet kbd
	<kbd>${1:char}</kbd>

snippet kbdn
	<kbd>${1:char}</kbd>&nbsp;

snippet samp
	<samp>${1:code}</samp>

snippet prel
	<pre lang="${1:language}">${2:code}</pre>
